name: "Build and Publish to PyPI"
on:
  workflow_dispatch:
  push:
jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    environment:
      name: pypi
      url: https://pypi.org/p/oedisi
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v2
    - name: Set up uv
      uses: astral-sh/setup-uv@v6
      with:
        version: "latest"
    - name: set up python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - name: build
      run: uv build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
