name: UnitTests

on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Install pytest
      shell: bash -l {0}
      run: |
        pip install pytest pytest-cov pytest-github-actions-annotate-failures
    - name: Install python package
      shell: bash -l {0}
      run: |
        pip install .[test]
    - name: Run unit tests
      shell: bash -l {0}
      run: |
        pytest -s tests/unit_tests/ --cov=. --cov-report xml
